#{extends 'casino/Registration/layout.html' /}


<h1>Create your personal Account</h1>

#{form @registrationFinish()}

    #{if flash.error}
        <p class="error">
            &{flash.error}
        </p>
    #{/if}
    #{if flash.success}
        <p class="success"> &{flash.success}
        </p>
    #{/if}
    

    
    
    <ul>
        <li>
            <label for="firstName">First Name*</label>
            <input type="text" name="firstName" id="firstName" placeholder="First Name" value="${flash.firstName}" />
            <!-- #{ifError 'firstName'}<span class="error">#{error 'firstName' /}</span>#{/ifError} -->
            <p>
       		</p>
        </li> 
        
        <li>
            <label for="lastName">Last Name*</label>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="${flash.lastName}" />
            <!-- #{ifError 'lastName'}<span class="error">#{error 'lastName' /}</span>#{/ifError} -->
            <p>
       		</p>
        </li>   
        
        <li>
            <label for="levelOfStudy">Level of Study*</label>
           	<select id="levelOfStudy" name="levelOfStudy"  class="input-medium">
        	<option>Bachelor</option>
        	<option>Master</option>
       		<option>Diplom</option>
       		</select>
       		<!-- #{ifError 'levelOfStudy'}<span class="error">#{error 'levelOfStudy' /}</span>#{/ifError} -->
       		
       		
       		
           	<select id="university" name="university"  class="input-medium">
        	<option>TUM</option>
        	<option>LMU</option>
       		<option>FH</option>
       		</select>
       		<!-- #{ifError 'university'}<span class="error">#{error 'university' /}</span>#{/ifError} -->
       		
       		
       		<p>
       		</p>
        </li>   
        
        
        <li>
            
        </li> 
        
        
        
        
        <li>
            <label for="email">Email*</label>
            <input type="text" name="email" id="email" placeholder="Email" value="${flash.email}" />
            #{ifError 'email'}<span class="error">#{error 'email' /}</span>#{/ifError}
            <p>
       		</p>
        </li>
        
        <li>
            <label for="dateOfBirth">Date of Birth*</label>
            <input type="text" name="dateOfBirth" id="dateOfBirth" placeholder="Date of Birth" value="${flash.dateOfBirth}" />
            <!-- #{ifError 'dateOfBirth'}<span class="error">#{error 'dateOfBirth' /}</span>#{/ifError} -->
            <p>
       		</p>
        </li> 
        
        <li>
            <label for="street">Adress*</label>
            <input type="text" name="street" id="street" placeholder="Street" value="${flash.street}" />
            <!-- #{ifError 'address'}<span class="error">#{error 'address' /}</span>#{/ifError} -->
            <p>
       		</p>
        </li> 
        
        <li>
        	<label for="postalCode"> *</label>
          	<input type="text" name="postalCode" id="postalCode" placeholder="postal Code" value="${flash.postalCode}" />
          	<!-- #{ifError 'address'}<span class="error">#{error 'address' /}</span>#{/ifError} -->
          	<p>
       		</p>
        </li>
        
        <li>
        	<label for="phoneNumber"> Phonenumber </label>
          	<input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phonenumber" value="${flash.phoneNumber}" />
          	<!-- #{ifError 'phoneNumber'}<span class="error">#{error 'phoneNumber' /}</span>#{/ifError} -->
          	<p>
       		</p>
        </li>
        
        
        <li>
            <label for="password">Password*</label>
            <input type="password" name="password" id="password" placeholder="Password"/>
            #{ifError 'password'}<span class="error">#{error 'password' /}</span>#{/ifError}
            <p>
       		</p>
        </li>
        
        <li>
            <label for="confirm">Confirm Password*</label>
            <input type="password" name="confirm" id="confirm" placeholder="Password"/>
            #{ifError 'confirm'}<span class="error">#{error 'confirm' /}</span>#{/ifError}
            <p>
       		</p>
        </li>
        
        <li>           
            <input type="checkbox" name="acceptTermsOfService" id="acceptTermsOfService" value="true" ${flash.acceptTermsOfService ? 'checked':''}/>&{'registration.acceptTermsOfService'}             
            #{ifError 'acceptTermsOfService'}<span class="error">#{error 'acceptTermsOfService' /}</span>#{/ifError}<br/>
            <p>
       		</p>
        </li>
        
        <li>
            #{ugot.recaptcha theme:"clean", tabindex:"2"/}
            <p>
       		</p>
        </li>
        <li>
            <input type="submit" id="submit" value="&{'registration.register'}" />
        </li>
    </ul>
    
  
    
#{/form}
