#{ifnot questions}
    	<p>
    	<br>
    	</br>
    	<br>
    	</br>
    	<br>
      		No Questions Found
      	
    	</p>
#{/ifnot}
				#{else}
                           <table class="table table-hover customSearchTable">
                            <caption> About ${questionCount} Search Result found </caption>
           		#{list questions, as:'question'}
               		<tr>
                        <td class="img-cell">
                           <img src="/public/img/questions/question.jpg"  class="img-polaroid img-scustom">
                        </td>
                           <td>${question.question} </td>
                           <td class="more_cell"><a class="btn" href="/questions/viewQuestion/${question.id}" >More <i class="icon-circle-arrow-right"></i></a></td>
                        </tr>
           		#{/list}
       
   				</table> 
   				
   				<div class="pagination pagination-centered">
                        <ul>
                            %{ if(page==1) { }% 
                            <li class="disabled"><a>Prev</a></li>
                            %{ } else { }%
                            <li><a id="prePage" href="${page-1};${firstPage};${lastPage}">Prev</a></li>
                            %{ } }%
                            
                            %{
                            
                            	
                            	for (int i=firstPage;i<=lastPage;i++){
                            	
                            }%
                            
                            %{ if(page==i) { }% 
                            <li class="active"><a class="pagebtn" href="${i};${firstPage};${lastPage}">${i}</a></li>
                            %{ } else { }%
                            <li><a class="pagebtn" href="${i};${firstPage};${lastPage}">${i}</a></li>
                            %{ } }%
                            
                            
                            %{
                             }
                            }%
                            
                            %{ if(page==pagesCount) { }% 
                            <li class="disabled"><a>Next</a></li>
                            %{ } else { }%
                            <li><a id="nextPage" href="${page+1};${firstPage};${lastPage}" >Next</a></li>
                            %{ } }%
                            
                        
                            
                        </ul>
                    </div>
                    
				#{/else}
